{% extends "layout.html" %}
{% block title %}
Plant Selection
{% endblock %}
{% block content %}



<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<select name= plants method="GET" action="/">
    {% for plants in plants %}
    <option value= "{{plants}}" SELECTED>{{plants}}</option>"
    {% endfor %}
</select>

</body>
</html>
-->
<form method="GET" action="/dropdown/">
  <label for="plant">Select your Plant</label>
  <select id="plant" name="plant" onchange="this.form.submit()">
    <option value="">Choose…</option>
    {% for plant in plants %}
      <option value="{{ plant }}" {% if plant == selected_plant %}selected{% endif %}>{{ plant }}</option>
    {% endfor %}
  </select>
</form>

<div id="plant-info">
  {% if selected_plant %}
    <h2>{{ selected_plant }}</h2>
    <p>{{ plant_info[selected_plant] }}</p>
  {% endif %}
</div>


<hr/>
{% endblock %}