{% extends "layout.html" %}
{% block title %}
Plant Selection
{% endblock %}
{% block content %}



<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<select name= plants method="GET" action="/">
    {% for plants in plants %}
    <option value= "{{plants}}" SELECTED>{{plants}}</option>"
    {% endfor %}
</select>

</body>
</html>
-->
<form action="/dropdown/" method="POST" method="GET">
  <label for="plant">Choose your Plant Model.</label>
  <select id="plant" name="plant">
    {% for plant in plants %}
      <option value="{{ plant }}" {% if plant == selected_plant %}selected{% endif %}>{{ plant }}</option>
    {% endfor %}
  </select>
  <button type="submit">Submit your Plant Model.</button>
</form>

<div id="plant-info">
  {% if selected_plant %}
    <h2>{{ selected_plant }}</h2>
    <p>{{ plant_info[selected_plant] }}</p>
  {% endif %}
</div>


<hr/>
{% endblock %}