<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
    </head>

    <body>
        <div class="navbar">
            <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
            <a href="{{ url_for('read') }}" class="navbar-item">Read</a>
            <a href="{{ url_for('about') }}" class="navbar-item">About</a>
            <a href="{{ url_for('dropdown') }}" class="navbar-item">Plant Selection</a>
            <a href="{{ url_for('chart') }}" class="navbar-item">Chart</a>
        </div>

        <div class="body-content">
            {% block content %}
            {% endblock %}
            
            <!--<footer>
                <p>&copy; 2026</p>
            </footer>-->
        </div>
    </body>
</html>
